@model WebTemplate.Models.tbl_registration

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutLg.cshtml";
}
<div style="height:100px; padding:70px 0 0 0;" class="well navbar-fixed-top">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Menu/">Home</a></li>
        <li class="breadcrumb-item active">Upload DIT</li>
    </ol>
</div>

<div class="container">
    <div class="row">
        <div style="margin:100px 100px 0 100px;" class="col-sm-12 col-md-10">
            <div>
                <h4>tbl_registration</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Password)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Password)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Allowance)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Allowance)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.City)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.City)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Age)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Age)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Status)
                    </dd>

                </dl>
            </div>
            <p>
                <button class="btn btn-default">@Html.ActionLink("Edit", "Edit", new { id = Model.Sr_no })</button>
                <button class="btn btn-default">@Html.ActionLink("Cancel", "Index")</button>
            </p>

        </div>
    </div>
</div>
