@model IEnumerable<WebTemplate.Models.tbl_registration>

@{
    ViewBag.Title = "PARTICIPANT";
    Layout = "~/Views/Shared/_LayoutLg.cshtml";
    var grid = new WebGrid(canPage: true, rowsPerPage: 10);
    grid.Bind(source: Model, rowCount: ViewBag.TotalRows, autoSortAndPage: false);
}
<div style="height:100px; padding:70px 0 0 0;" class="well navbar-fixed-top">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Menu/">Home</a></li>
        <li class="breadcrumb-item active">Upload DIT</li>
    </ol>
</div>

<div class="container">
    <div class="row">
        <div style="margin:100px 100px 0 100px;" class="col-sm-12 col-md-10">
            <form method="post" enctype="multipart/form-data">
                <div class="clearfix">
                    <div class="col-lg-12 cont-bg">
                        <h4 style="text-align:left; padding:2px;">UPLOAD FILE</h4>
                    </div>
                    <div class="col-lg-12">
                        <div style="position:relative;">
                            <a style="font-size:12px" class='btn btn-primary' href='javascript:;'>
                                Choose File...
                                <input name="file" type="file" style='width:150px;position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40" onchange='$("#upload-file-info").html($(this).val());'>
                            </a>
                            &nbsp;
                            <span class='label label-info' id="upload-file-info"></span>
                            &nbsp;
                            <span><button type="submit" style="border-radius:100px; width:150px;" class="btn btn-lg btn-info ">Upload</button></span>
                        </div>
                    </div>
                </div>
            </form>
            <div style="padding:0 5px">
                <table class="table">
                    <tr style="background-color:deepskyblue; text-align:center;">
                        <th class="th">
                            Name
                        </th>
                        <th class="th">
                            City
                        </th>
                        <th class="th">
                            Address
                        </th>
                        <th class="th">
                            Operation
                        </th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Address)</td>
                            <td>@Html.DisplayFor(modelItem => item.City)</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Sr_no }, new { @class = "btn btn-xs btn-danger" })
                                @Html.ActionLink("Detail", "Detail", new { id = item.Sr_no }, new { @class = "btn btn-xs btn-info" })
                            </td>
                        </tr>
                    }
                </table>
                <div class="row">
                    <div style="margin: 20px 0" class="col-sm-7">
                    </div>
                    <div class="col-sm-5">
                        @grid.PagerList(mode: WebGridPagerModes.All, paginationStyle: "pagination pagination-small pagination-right")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="//cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
    function goBack() {
        window.history.back();
    }
    $(function () {
        //button get selected info
        $("#selected").click(function () {
            var items = [];
            $("input.select-item:checked:checked").each(function (index, item) {
                items[index] = item.value;
            });
            if (items.length < 1) {
                alert("no selected items!!!");
            } else {
                //UPDATE actualCOst
                //SET status = 'Confirm/1'
                //WHERE ActualID = {(id)};
                var values = items.join(',');
                console.log(values);
                var html = $("<div></div>");
                html.html("selected:" + values);
                html.appendTo("body");
            }
        });
    });
</script>