@model List<WebTemplate.Models.tbl_registration>

@{
    ViewBag.Title = "Actual Cost Verivy";
    Layout = "~/Views/Shared/_LayoutLg.cshtml";
    var grid = new WebGrid(canPage: true, rowsPerPage: 10);
    grid.Bind(source: Model, rowCount: ViewBag.TotalRows, autoSortAndPage: false);
}
<div style="height:100px; padding:70px 0 0 0;" class="well navbar-fixed-top">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Menu/">Home</a></li>
        <li class="breadcrumb-item active">Actual Cost Verivication</li>
    </ol>
</div>

<div class="container">
    <div class="row">
        <div style="margin:100px 100px 0 100px;" class="col-sm-12 col-md-10">
            <div style="margin-top:20px;">
                <div class="collapse navbar-collapse">
                    @using (Html.BeginForm("index", "CostVerify", FormMethod.Get, new { @class = "navbar-form navbar-left" }))
                    {
                        <div class="form-group">
                            <input type="text" name="search" value="@ViewBag.search" class="form-control" placeholder="search" />
                        </div>
                        <button type="submit" value="Search" class="btn btn-success">Search</button>
                    }
                </div>
            </div>
            <form class="width" action="/Home/Contact" id="loginForm">
                <div class="clearfix">
                    <div style="padding:0 5px">
                        <table class="table">
                            <tr style="background-color:deepskyblue; text-align:center;">
                                <th class="th info">
                                    Name
                                </th>
                                <th class="th info">
                                    Email
                                </th>
                                <th class="th info">
                                    City
                                </th>
                                <th class="th info">
                                    Address
                                </th>
                                <th class="th info">
                                    Status
                                </th>
                                <th class="th info">
                                    <div style="margin:1.5px 0" class="checkbox">
                                        <label>
                                            <input type="checkbox" onClick="toggle(this)" class="select-all checkbox" name="select-all"  />
                                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                        </label>
                                    </div>
                                </th>
                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr class="table-responsive">
                                    <td class="td">
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td class="td">
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td class="td">
                                        @Html.DisplayFor(modelItem => item.City)
                                    </td>
                                    <td class="td">
                                        @Html.DisplayFor(modelItem => item.Address)
                                    </td>
                                    <td class="td">
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td class="td">
                                        <div style="margin:1.5px" class="checkbox">
                                            <label>
                                                <input type="checkbox" class="select-item checkbox" name="select-item" value="1000" />
                                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                    <div style="margin: 20px 0" class="col-sm-7">
                        <a href="#" id="selected" class="btn btn-danger">Confirm</a>
                        <a href="#" id="select-all" class="btn btn-info">Select All</a>
                    </div>
                    <div class="col-sm-5">
                        @grid.PagerList(mode: WebGridPagerModes.All, paginationStyle: "pagination pagination-small pagination-right")
                    </div>
                    @Html.Hidden("dir", grid.SortDirection)
                    @Html.Hidden("col", grid.SortColumn)
                </div>
            </form>
        </div>
    </div>
</div>

<script src="//cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
    $(function () {
        try {
            var dir = $('#dir').val();
            var col = $('#col').val();
            var header = $("th a[href*=" + col + "]");
            if (dir == "Ascending") {
                header.text(header.text() + "  ▲")
            }
            if (dir == "Descending") {
                header.text(header.text() + "  ▼");
            }

        } catch (e) {

        }
    })

    function toggle(source) {
        checkboxes = document.getElementsByName('select-item');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
    }
    tbl_registration
    $(function () {

        //button select all or cancel
        $("#select-all").click(function () {
            var all = $("input.select-all")[0];
            all.checked = !all.checked
            var checked = all.checked;
            $("input.select-item").each(function (index, item) {
                item.checked = checked;
            });
        });

        //button select invert
        $("#select-invert").click(function () {
            $("input.select-item").each(function (index, item) {
                item.checked = !item.checked;
            });
            checkSelected();
        });

        //button get selected info
        $("#selected").click(function () {
            var items = [];
            $("input.select-item:checked:checked").each(function (index, item) {
                items[index] = item.value;
            });
            if (items.length < 1) {
                alert("no selected items!!!");
            } else {
                //UPDATE actualCOst
                //SET status = 'Confirm/1'
                //WHERE ActualID = {(id)};
                var values = items.join(',');
                console.log(values);
                var html = $("<div></div>");
                html.html("selected:" + values);
                html.appendTo("body");
            }
        });

        //column checkbox select all or cancel
        $("input.select-all").click(function () {
            var checked = this.checked;
            $("input.select-item").each(function (index, item) {
                item.checked = checked;
            });
        });

        //check selected items
        $("input.select-item").click(function () {
            var checked = this.checked;
            console.log(checked);
            checkSelected();
        });

        //check is all selected
        function checkSelected() {
            var all = $("input.select-all")[0];
            var total = $("input.select-item").length;
            var len = $("input.select-item:checked:checked").length;
            console.log("total:" + total);
            console.log("len:" + len);
            all.checked = len === total;
        }
    });
</script>