@model WebTemplate.Models.tb_r_travel_request_participant

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>tb_r_travel_request_participant</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.no_reg_parent)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.no_reg_parent)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.group_code)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.group_code)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.no_reg)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.no_reg)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.allowance_idr)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.allowance_idr)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.allowance_usd)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.allowance_usd)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.allowance_jpy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.allowance_jpy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.created_date)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.created_date)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.modified_date)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.modified_date)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.user_modified)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.user_modified)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.active_flag)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.active_flag)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id_request_participant }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
