<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 u">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/test.css" rel="stylesheet" />
</head>
<body>
    <div style="box-shadow:1px 1px 3px #767676; border: 0px;" class="page-header navbar-fixed-top">
        <div style="margin:0 215px;">
            <img style="float:left" width="150" src="~/img/small_logo_horizontal.png" />
            <span style="float:right"><span style="color:white">Hello, <strong>NIA NOVITASARI</strong></span><span><img style="margin:0 5px; width:50px; height:50px; background-size:cover; border-radius: 50%;" src="~/img/twice1.jpg" /></span><a href="/Home/Index/"><span class="glyphicon glyphicon-log-out white"></span></span></a>
        </div>
    </div>
    <div class="well" style="padding:55px 10px 0; background: linear-gradient(to right, #0aa1e4 0%,#0aa4e6 20%,#06b9f0 64%,#06cffb 100%);">
        <div id="header-row" style="margin:0 auto; overflow:hidden; height:400px; width:900px;">
            <!-- container-fluid is the same as container but spans a wider viewport,
        it still has padding though so you need to remove this either by adding
        another class with no padding or inline as I did below -->
            <div class="container-fluid" style="padding: 0px; margin: 0 0 20px;">
                <div class="row">
                    <!-- You originally has it set up for two columns, remove the second
                column as it is unneeded and set the first to always span all 12 columns
                even when at its smallest (xs). Set the overflow to hidden so no matter
                the height of your image it will never show outside this div-->
                    <div class="col-xs-12">
                        <a href="index.html">
                            <!-- place your image here -->
                            <img src="~/img/image_banner.jpg" alt="company logo" style="object-fit:cover; width: 100%; height:auto; background-position:center;">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr style="margin:20px 0px" />
    
    <div style="padding:0 130px" class="container body-content">
        @RenderBody()
    </div>
    <footer class="footer modal-footer">
        <p style="text-align:center">&copy; @DateTime.Now.Year - PT Toyota Astra Motor</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
