<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 u">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrapLg.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
        <body>
            <div style="box-shadow:1px 1px 3px #767676; border: 0px;" class="page-header navbar-fixed-top">
                <div style="margin:0 215px;">
                    <img style="float:left" width="150" src="~/img/small_logo_horizontal.png" />
                    <span style="float:right"><span style="color:white">Hello, <strong>NIA NOVITASARI</strong></span><span><img style="margin:0 5px; width:50px; height:50px; background-size:cover; border-radius: 50%;" src="~/img/twice1.jpg" /></span><span class="glyphicon glyphicon-log-out white"></span></span>
                </div>
            </div>
            <div class="container body-content">
                @RenderBody()
            </div>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

